{% extends 'base.html' %}

{% block content %}
  <div style="margin: auto;margin-top: 25px;">
      <h3 class="text-center">Your Surveys:</h3>
      <hr style="width: 1087px;">
  </div>
  <div id="surveys "class="container surveys-container" style="margin: auto;margin-top: 25px;">
    {% include 'surveys_template.html' %}
  </div>
  <div class="create_survey-btn fixed-action-btn">
    <a id="new_survey_a" class="btn-floating btn-large hoverable blue darken-3" href="javascript:void(0)"> <!--pulse-->
      <i id = "create_survey_icon" class="large material-icons">poll</i>
    </a>
    <ul>
      <!-- <li><a class="btn-floating red"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
    </ul>
  </div>
{% include 'create_survey_template.html' %}
{% endblock %}
